.App {
  text-align: center;
}
/* .cardbody{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} */
.card .card-img-top{
  width: 200px;
  height: 180px;
  margin: 6px 10px;
}
.card-body{
  justify-content: space-around;
}

#box{
  box-shadow: 2px 5px 5px 3px rgba(0,0,0,.3);
}
header{
  background-image:linear-gradient(to right,#f12711,#f5af19);
}

footer{
  background-image:linear-gradient(to right,#f12711,#f5af19);
}
